<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Blogs</h3>
<p>
    <button><a th:href="@{/blog/create}">
        Add new blog
    </a>
    </button>
</p>
<div class="notify">
    <div th:if="${mess}">
        <span th:text="${mess}"></span>
    </div>
</div>

<div>
    <form action="/blog">
        <input style="width: 30%" type="text" name="nameSearch" placeholder="Input name..."/>
        <input type="submit" value="Search">
    </form>
</div>


<table id="blogs">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Time</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,cow : ${blog}">
        <td th:text="${cow.count}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getTime()()}"></td>
        <td th:text="${row.getContent()}"></td>
        <td><a th:href="@{/blog/edit/(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/delete/(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/blog/view/(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${blog.hasPrevious()}" th:href="@{'/blog'(page=${blog.number - 1})}">Previous</a>
    <span th:text="${blog.number + 1}"></span>/<span th:text="${blog.totalPages}"></span>
    <a th:if="${blog.hasNext()}" th:href="@{'/blog'(page=${blog.number + 1})}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>