<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        #wrapper {
            right: 0;
            margin: 0 auto;
            display: block;
            width: 960px;
        }

        #border-pagination {
            margin: 0 auto;
            padding: 0;
            text-align: center
        }

        #border-pagination li {
            display: inline;
        }

        #border-pagination li a {
            display: block;
            text-decoration: none;
            color: red;
            padding: 5px 10px;
            border: 1px solid #ddd;
            background-color: white;
            float: left;

        }

        #border-pagination li a {
            -webkit-transition: background-color 0.4s;
            transition: background-color 0.4s
        }

        #border-pagination li a.active {
            background-color: deepskyblue;
            color: #fff;
        }

        #border-pagination li a:hover:not(.active) {
            background: deepskyblue;
        }
    </style>
</head>
<body>
<div class="mx-5 px-5 pt-3">
    <h2 class="text-center fw-bold text-success">ADD NEW FACILITY</h2>

    <p class="text-center">
        <a href="/facility"><i class="fa-solid fa-backward"></i> Back to Facility list</a>
    </p>

    <div class="d-flex justify-content-center">
        <form class="w-50 border border-2 border-success p-3 bg-success bg-opacity-50 rounded" th:action="@{/facility/save}"
              method="post" th:object="${facilityDto}">
            <div class="mt-3 form-group">
                <label class="h6" for="facilityType">Facility Type:</label>
                <div class="input-group">
                    <select id="facilityType" class="form-control" name="facilityTypeId" th:field="*{facilityType}" onchange="changeForm(this)">
                        <option th:each="items : ${facilityType}" th:value="${items.id}"
                                th:text="${items.name}"></option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="form-group">
                <label for="facilityName" class="h6">Facility name:</label>
                <div class="input-group">
                    <input type="text" id="facilityName" class="form-control" th:field="*{name}" placeholder="Input Facility name"
                           name="name">
                    <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
                </div>
            </div>
            <div class="form-group text-danger">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
            </div>

            <div class="mt-3 form-group">
                <label for="area" class="h6">Area (m<sup>2</sup>):</label>
                <div class="input-group">
                    <input type="number" id="area" class="form-control" th:field="*{area}" placeholder="Input Facility area" name="area">
                    <span class="input-group-text"><i class="fa-solid fa-chart-area"></i></span>
                </div>
            </div>
            <div class="form-group text-danger">
                <p th:if="${#fields.hasErrors('area')}" th:errors="*{area}">Name Error</p>
            </div>

            <div class="mt-3 form-group">
                <label for="cost" class="h6">Cost:</label>
                <div class="input-group">
                    <input type="text" id="cost" class="form-control" th:field="*{cost}" placeholder="Input Cost" name="cost">
                    <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
                </div>
            </div>
            <div class="form-group text-danger">
                <p th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Name Error</p>
            </div>

            <div class="mt-3 form-group">
                <label for="maxPeople" class="h6">Maximum number of people:</label>
                <div class="input-group">
                    <input type="number" id="maxPeople" class="form-control" th:field="*{maxPeople}"
                           placeholder="Input maximum number of people" name="maxPeople">
                    <span class="input-group-text"><i class="fa-solid fa-person"></i></span>
                </div>
            </div>
            <div class="form-group text-danger">
                <p th:if="${#fields.hasErrors('maxPeople')}" th:errors="*{maxPeople}">Name Error</p>
            </div>

            <div class="mt-3 form-group" id="standardRoomForm">
                <label for="standardRoom" class="h6">Standard room:</label>
                <div class="input-group">
                    <input type="text" id="standardRoom" class="form-control" th:field="*{standardRoom}" name="standardRoom"
                           value=" -" placeholder="input standard room">
                    <span class="input-group-text"><i class="fa-solid fa-star"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group" id="descriptionForm">
                <label for="description" class="h6">Description other convenience:</label>
                <div class="input-group">
                    <input type="text" id="description" class="form-control" th:field="*{descriptionOtherConvenience}"
                           name="otherConvenience" value=" -" placeholder="input other convenience">
                    <span class="input-group-text"><i class="fa-solid fa-book"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group" id="poolAreaForm">
                <label for="poolArea" class="h6">Pool area (m<sup>2</sup>):</label>
                <div class="input-group">
                    <input type="text" id="poolArea" class="form-control" th:field="*{poolArea}" name="poolArea" value="0"
                           placeholder="input pool area">
                    <span class="input-group-text"><i class="fa-solid fa-person-swimming"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group" id="numberOfFloorsForm">
                <label for="numberOfFloors" class="h6">Number of floors:</label>
                <div class="input-group">
                    <input type="number" id="numberOfFloors" class="form-control" th:field="*{numberOfFloors}" name="numberOfFloor"
                           value="0" placeholder="input number of floor">
                    <span class="input-group-text"><i class="fa-solid fa-building"></i></span>
                </div>
            </div>
            <div class="form-group text-danger">
                <p th:if="${#fields.hasErrors('numberOfFloors')}" th:errors="*{numberOfFloors}">Name Error</p>
            </div>

            <div class="mt-3 form-group" id="facilityFreeForm" style="display: none">
                <label for="facilityFree" class="h6">Facility free:</label>
                <div class="input-group">
                    <input type="text" id="facilityFree" class="form-control" th:field="*{facilityFree}" name="facilityFree" value=" -"
                           placeholder="input facility free">
                    <span class="input-group-text"><i class="fa-solid fa-gift"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label class="h6" for="rentType">Rent Type:</label>
                <div class="input-group">
                    <select id="rentType" class="form-select" name="rentTypeId" th:field="*{rentType}">
                        <option th:each="item : ${rentType}" th:value="${item.id}"
                                th:text="${item.name}"></option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="mt-3 text-center">
                <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
                    -- Save <i class="fa-solid fa-floppy-disk"></i> --
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    function changeForm(type) {
        let selectType = type.value;
        switch (selectType) {
            case "1":
                document.getElementById("standardRoomForm").style.display = "block";
                document.getElementById("descriptionForm").style.display = "block";
                document.getElementById("poolAreaForm").style.display = "block";
                document.getElementById("numberOfFloorsForm").style.display = "block";
                document.getElementById("facilityFreeForm").style.display = "none";
                break;
            case "2":
                document.getElementById("standardRoomForm").style.display = "block";
                document.getElementById("descriptionForm").style.display = "block";
                document.getElementById("poolAreaForm").style.display = "none";
                document.getElementById("numberOfFloorsForm").style.display = "block";
                document.getElementById("facilityFreeForm").style.display = "none";
                break;
            default:
                document.getElementById("standardRoomForm").style.display = "none";
                document.getElementById("descriptionForm").style.display = "none";
                document.getElementById("poolAreaForm").style.display = "none";
                document.getElementById("numberOfFloorsForm").style.display = "none";
                document.getElementById("facilityFreeForm").style.display = "block";
        }
    }
</script>
</body>
</html>