<div class="container-fluid">
  <div class="p-3">
    <h1>Danh sách sản phẩm</h1>
    <table class="table table-striped table-bordered" *ngIf="products; else error">
      <tr>
        <td>STT</td>
        <td>Tên</td>
        <td>Giá</td>
        <td>Mô tả</td>
        <td>Category</td>
        <td colspan="2">Actions</td>
      </tr>
      <tr *ngFor="let product of products; index as i">
        <td>{{i + 1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category.name}}</td>
        <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
        <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>
      </tr>
    </table>
    <ng-template #error>
      <h3>{{message}}</h3>
    </ng-template>
  </div>
</div>

