footer {
  margin: 10px 0;
}

#furama {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#furama td, #furama th {
  border: 1px solid #ddd;
  padding: 8px;
}

#furama tr:nth-child(even) {
  background-color: #f2f2f2;
}

#furama tr:hover {
  background-color: #ddd;
}

#furama th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

input[type=text], input[type=number], input[type=date],select, option {
  width: 100%;
  padding: 12px 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#form {
  width: 500px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.notify span {
  font-size: 15px;
  color: blue;
}
