<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List contract</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<table id="contractTable" class="table table-striped table-bordered">
    <thead>
    <tr class="text-center bg-success">
        <th class="text-center">N.O</th>
        <th>Name</th>
        <th>Address</th>
        <th>Date Of Birth</th>
        <th>Email</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Attach Facility</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="x, status : ${customer}">
        <td class="text-center" th:text="${status.count}"></td>
        <td th:text="${x.getName()}"></td>
        <td th:text="${x.getAddress()}"></td>
        <td th:text="${x.getBirthday()}"></td>
        <td th:text="${x.getEmail()}"></td>
        <td th:text="${x.getContractStartDate()}"></td>
        <td th:text="${x.getContractEndDate()}"></td>
        <td class="text-center">
            <button class="btn btn-primary btn-outline-secondary btn-sm ms-3 px-3" data-bs-toggle="modal" >
<!--                    data-bs-target="#view"-->
<!--                    th:attr="onclick=|infoContractId('${customer.id}')|">-->
                <span class="text-light m-auto">Attach facility list</span>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!--    contract detail-->
<div class="modal fade" id="view" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel2">Attach Facility List</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-success table-striped">
                    <thead>
                    <tr>
                        <th>Attach facility name</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="attachFacilityList">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>