<div class="container-fluid">
  <div class="row ">
    <h3 class="d-flex justify-content-center">Danh sách bệnh án</h3>
  </div>

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="btn btn-outline-primary mb-2 ml-4" routerLink="/add" role="button">Thêm mới bệnh án</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Mã bệnh án" aria-label="Search" #search1
               name="seachs">

        <select class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #searchName
                name="seachCustomerType">
          <option *ngFor="let ct of patient" [value]="ct.name">{{ct.name}}</option>
        </select>
        <button class="btn btn-outline-success" type="submit" (click)="search(search1.value, searchName.value)">Search</button>
      </form>
    </div>
  </nav>

  <table class="table table-info">
    <thead>
    <tr>
      <th>Stt</th>
      <th>Mã bệnh án</th>
      <th>Mã bệnh nhân</th>
      <th>Tên bệnh nhân</th>
      <th>Ngày nhập viện</th>
      <th>Ngày ra viện</th>
      <th>Lý do nhập viện</th>
      <th>Phương pháp điều trị</th>
      <th>Bác sĩ điều trị</th>
      <th colspan="2">Tác vụ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of medicalRecord; index as i">
<!--      | paginate: { itemsPerPage: 5, currentPage: p }-->
      <td>{{i+1}}</td>
      <td>{{item.id}}</td>
      <td>{{item.patient.id}}</td>
      <td>{{item.patient.name}}</td>
      <td>{{item.hospitalizedDay}}</td>
      <td>{{item.hospitalDischargeDate}}</td>
      <td>{{item.reason}}</td>
      <td>{{item.method}}</td>
      <td>{{item.doctor}}</td>
      <td><a [routerLink]="['/edit',item.id]">
        <button class="btn btn-success">Edit</button>
      </a></td>
      <td>
        <button class="btn btn-danger" style="background-color: #dc3545" data-bs-toggle="modal"
                (click)="showModal(item)"
                data-bs-target="#exampleModal">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Xác nhận</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Do you want to delete: <span *ngIf="deleteMedicalRecord">{{deleteMedicalRecord.id}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteMedical()">Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div style="padding-left: 645px;">-->
<!--  <pagination-controls (pageChange)="p = $event"></pagination-controls>-->
<!--</div>-->


