body{
    width: 70%;
    margin: auto;
    font-family: 'Roboto';font-size: 18px;
}
#header{
    display: flex;
    background-color: black;
    color: white;
}

.logo, .menu,.login,.nav,.content,.aside, #footer{
    border: 1px solid black;
    font-size: 22px;
}

.logo{
    width: 10%;

}
.menu{
    width: 80%;
}
.menu .nav{
    list-style-type: none;
    display: flex;
}

a{
    margin:0 20px;
}
.menu .nav a{
    text-decoration: none;
    color: white;
}


.login{
    width: 10%;

}
#main{
    display: flex;
}
.nav{
    width: 20%;
}
.nav ul{
    list-style-type: none;
}
.content{
    width: 60%;
}
.aside{
    width: 20%;
}
#footer{
    text-align: center;
}
@media screen and (max-width: 768px) {
    .content{
        width: auto;
    }
    .aside{
        display: none;
    }
    #header{
        display: block;
    }
}
a{
    display: flex;
}